/* main style rules */

*{
    font-family: Verdana !important;
}

html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.landing{
    position: fixed;
    margin: 0;
    height: 100%;
    width: 100%;
    background: rgba(204, 204, 204, 0.1);
}
.sublanding1{
    background-color: #F5F5F5;
}
.sublanding2{
    background-color: #222222;
}
.spantext1, .sublanding1{
    color: #222222;
}
.spantext2, .sublanding2{
    color: #F5F5F5;
}

/* remove hover-underline from anchors and links */
a, u {
    text-decoration: none !important;
}

.logo-orange{
    color: #D45500;
}

.logo-grey{
    color: #666666;
}

/* dummy section for responsive spacing */
.dummyrow{
    height: 4vh;
}
.dummyrowbig{
    height: 50vh;
}

/* accordian buttons */
.panel-group .panel-heading a:before {
    font-family: FontAwesome;
    content: "\f146";        /* fontawesome minus-square icon unicode*/
    display: inline-block;
    padding-right: 10px;
    vertical-align: middle;
}
.panel-group .panel-heading a.collapsed:before {
    content: "\f0fe";        /* fontawesome plus-square icon unicode*/
}

/* flexbox */
.flexcont{
    display: flex;
}
.flexchild{
    align-items: stretch;
}

/* responsive spacing */
@media (min-width: 768px), (max-width: 767px) and (orientation : portrait){
    .landing{
        height: 100%;
        width: 100%;   
        margin-bottom: 0;        
    }
}