/* main style rules */

html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Verdana !important;
}

/* remove hover-underline from anchors and links */
a, u {
    text-decoration: none !important;
}

.logo-orange{
    color: #D45500;
}

.logo-grey{
    color: #666666;
}

/* background video elements */

.bg-elements{
    overflow: hidden;    
    position: fixed;
    min-width: 100%;
    min-height: 100%;
}

.bgvid-overlay{
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

.fullscbg{
    z-index: -100;
}

.fullscbg::before{
    content:"";
}

/* dummy section for responsive spacing */
.dummyrow{
    height: 4vh;
}



/* expanders styles and css animation */

.expander {
    background-color: #218D9B;
    height: 100px;
    width: 100px;
    z-index: 1;
}

.invisible{
    display: none;    
}

.transform {
    transition: all 2s ease;
}

.transform-active {
    overflow-y: auto;    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #45CEE0;
}

.appear{
    animation: fadeIn 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.appear:hover {
    background-color: #000000;
}

@keyframes fadeIn{
    0% {
        opacity:0;
    }
    100% {
        opacity:0.6;
        visibility: visible;
    }
}


/* accordian elements */
.panel-group .panel-heading a:before {
    font-family: FontAwesome;
    content: "\f146";        /* fontawesome minus-square icon unicode*/
    display: inline-block;
    padding-right: 10px;
    vertical-align: middle;
}
.panel-group .panel-heading a.collapsed:before {
    content: "\f0fe";        /* fontawesome plus-square icon unicode*/
}


/* media-query rules should come last so as to get overridden */

/* show bg-image/ don't play video for smaller screens */
@media (max-width: 1023px){
    .fullscbg{
        background: url('../assets/pics/launch.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
    }
    .fullscbgvid{
        display: none;
    }
}

/* responsive spacing */
@media (min-width: 768px), (max-width: 767px) and (orientation : portrait){
    .landing{
        height: 100%;
        width: 100%;   
        margin-bottom: 0;        
    }
}