/* main style rules */

html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    padding-top: 8vmax;
    font-family: Verdana !important;
}

/* remove hover-underline from anchors and links */
a, u {
    text-decoration: none !important;
}

.logo-orange{
    color: #D45500;
}

.logo-grey{
    color: #666666;
}

#mynav, #foot{
    color: #BDBDBD;
    background-color: #222222;
    font-family: Verdana;
}

.tagline{
        color: #BDBDBD;
        font-family: Verdana;
}

.nav.navbar-nav.navbar-right li a {
    color: #BDBDBD;
}

.icon-bar {
   background-color: #BDBDBD !important;
}

/* background video */

.bgvid-overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

.fullscbg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    
}

.fullscbg::before{
    content:"";
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -100;
}

.fullscbgvid{
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -6vmax;
    width: 112%;
    height: 112%;
}


/* appropriately positioned h4/span anchor to offset fixed-navbar height and to prevent hiding of the navigated-to-content */

.mainsec h3{
    position: relative;
}

.mainsec h3 span{
    position: absolute;
    top: -100px;
}


/* main sections */

.landing{
    margin-bottom: 5vmax;
}

h1, h2, h3, h4, h5, h6, p{
    color: #E0E0E0;
}

.mainsec{
    padding: 1vmax 0 1vmax 0;    
}

/* dummy section to scale up landing-text-spacing according to viewport size*/
.dummyrow{
    height: 4vh;
}

.section1{
}

.section2{
}

.section3{
}

.section4{
    margin-bottom: 30px;
}


/* scrolldown arrow */

.arrowdiv{
    text-align: center;
    margin: 8% 0;
}

/* panels, lists & accordians */

/* plus-minus symbol for accordians */
.panel-group .panel-heading a:before {
    font-family: FontAwesome;
    content: "\f146";        /* fontawesome minus-square icon unicode*/
    display: inline-block;
    padding-right: 10px;
    vertical-align: middle;
}
.panel-group .panel-heading a.collapsed:before {
    content: "\f0fe";        /* fontawesome plus-square icon unicode*/
}


/* flexbox */

.flexcont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flexitem{
    height: 200px;
    width: 200px;
}


/* media-query rules should come last so as to get overridden */

/* play video only for ipad landscape-mode (width 1023px) and larger screens, fall back to video poster-image for smaller screens*/
@media (max-width: 1023px){
    .fullscbg{
        background: url('../assets/pics/launch.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
    }
    .fullscbgvid{
        display: none;
    }
}

/* make navbar text scale for ipad portrait and landscape modes */
@media (min-width: 768px) and (max-width: 1024px){
    .navtext{
        font-size: 2vmax;    
    }
}
@media (min-width: 1025px){
    .navtext{
        font-size: 3.5vmin;
    }
}

/* adjust landing section spacing for small-screen landscape modes by setting height/width to 100% only for all portrait and large landscape modes */
@media (min-width: 768px), (max-width: 767px) and (orientation : portrait){
    .landing{
        height: 100%;
        width: 100%;   
        margin-bottom: 0;        
    }
}